body {
}

    .clasediv {
        width: 100%;
        height: 100%;
        align-content:center;
        text-align: center;
        border-radius: 55px 55px 55px 55px;
        border: 0px solid #000000;
    }

    .clasediv span {
        color:#045FB4;
        font-family: Arial;
        font-size: 10pt;
        font-weight: bold;
    }

    .clasediv input[type="text"] {
        border: 1px ridge #0094ff;
        text-align:left;
        font-size: 9pt;
        color:#045FB4;
    }

    .clasediv input[type="Password"] {
        border: 1px ridge #0094ff;
        text-align:left;
        font-size: 9pt;
        color:#045FB4;
    }

    .clasediv input[id="FechaText"]:hover {
        cursor:pointer;
        border: 1px dashed #0094ff;
        text-align:left;
        font-size: 9pt;
        color:#045FB4;
    }

    .clasediv input[type="submit"] {
        color:#fff;
        border: 1px outset;
        background-color:#045FB4;
        border-radius: 5px;
        width:120px;
        height:30px;
        align-content:center;
        vertical-align:central;
        text-anchor:middle;
        margin:5px;
    }

    .clasediv input[type="submit"]:hover {
        color:#0ebfaa;
        border: 1px outset;
        background-color:#045FB4;
        cursor:pointer;
    }

    .clasediv input[type="image"]:hover {
        background-color:#fff;
        cursor:pointer;
        outline:none;
        margin:0px;
        opacity:0.5;
    }

    .clasediv table[id=DGClientes] {
        border: 1px outset #ff6a00;
        font-family: Arial;
        font-size: 8pt;
        width:50%;
        position:absolute;
        align-content:center;
    }

    .clasediv a {
        color:#045FB4;
        font-family: Arial;
        font-size: 9pt;
        font-weight: bolder;
    }

    .clasediv a:hover {
        color:#0abdb2;
        background-color:#fff;
        cursor:pointer;
    }

    .Link {
        float:right;
        margin: 1px;
        padding: 1px;
    }

    .clasediv table {
        margin: 0 auto;
        text-align: left;
        background-color:#a7d0f7;
        border-radius: 10px;
        border: 0px solid #000000;
    }

    .clasediv_{
        margin: 0 auto;
        width: 100%;
        height: 100%;
        align-content:center;
        align-items:center;
    }
    

    .HeaderStyle {
        background-color:#026dac;
        font-weight: bold;
        color:white;
    }

    .ItemStyle {
        color:#045FB4;
    }

    .clasediv h3 {
        /*display: block;*/
        font-weight: bold;
        color:#0094ff;
        float:right;
        margin: 0;
        padding: 0;
        list-style-type: none;
        /*padding: 14px 16px;*/
    }

    /*Menu*/
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #02303b;
    }

    li {
        float: left;
        border-right:1px solid #bbb;
    }

    li:last-child {
        border-right: none;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: #0ebfaa;
    }


    /*Slider*/
    .slider {
    height:300px;
	width: 90%;
	margin: auto;
	overflow: hidden;
    }

    .slider ul {
	    display: flex;
	    padding: 0;
	    width: 300%;
	    animation: cambio 20s infinite alternate linear;
    }

    .slider li {
	    width: 100%;
	    list-style: none;
    }

    .slider img {
	    width: 100%;
    }

    @keyframes cambio {
	    0% {margin-left: 0;}
	    20% {margin-left: 0;}
	
	    25% {margin-left: -100%;}
	    45% {margin-left: -100%;}
	
	    50% {margin-left: -200%;}
	    70% {margin-left: -200%;}
	
	    /*75% {margin-left: -300%;}
	    100% {margin-left: -300%;}*/
    }